.container {
    width:50%;
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
  }

  .change-my-color {
    fill: #1d4ed8;
  }

  input{
    background-color: #002550;
    color: white;
  }

  input:hover{
    color: #fff;
        background: #1d4ed8;
        border-radius: 15px;
  }
  
  .button {
    width: 1200px;
    height: 65px;
    background: #002550;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0 24px;
    overflow: hidden;
    transition: width 300ms linear;
    margin-bottom: 30px;
  }
  
  .nav {
    opacity: 1;
    transition: all 0.5s ease-in-out;
    background: #002550;
    width: 100%;
    border-radius: 5px;
    transform: translateX(10%);
    padding: 10px;
  
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
    }
    li {
      opacity: 0;
      list-style: none;
      &:nth-child(1) {
        transform-origin: bottom;
        animation: itop 300ms 300ms linear forwards;
      }
      &:nth-child(2) {
        transform-origin: bottom;
        animation: itop 300ms 400ms linear forwards;
      }
      &:nth-child(3) {
        transform-origin: bottom;
        animation: itop 300ms 500ms linear forwards;
      }
      &:nth-child(4) {
        transform-origin: bottom;
        animation: itop 300ms 600ms linear forwards;
      }
    }
    li {
      transition: all 0.5s linear;
      text-decoration: none;
      color: grey;
      font-size: 20px;
      width: fit-content;
      padding: 10px;
      height: 52px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 10px 0 0;
      border-radius: 15px;
  
      &:hover {
        color: #fff;
        background: #1d4ed8;
        border-radius: 15px;
      }
    }
  }
  
  #toggle:checked ~ label .nav {
    display: none;
    opacity: 0;
    transform: translateX(0);
  }
  
  #toggle:checked ~ .button {
    width: 70px;
    transition: all 0.1s linear;
  }
  
  @media (max-width: 640px) {
    .container {
      width: 100%;
    }
  }
  
  @keyframes itop {
    0% {
      opacity: 0;
      transform: translateY(60px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  #toggle {
    -webkit-appearance: none;
  }