.container {
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
  }

  .change-my-color {
    fill: #9b9b9b;
  }

  .button {
    gap: 1.5rem;
    height: 65px;
    background: #f9fafb;
    border: #dcdcdc solid 1px;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 24px;
    overflow: hidden;
    transition: width 300ms linear;
    margin-bottom: 30px;
  }

  .nav {
    opacity: 1;
    transition: all 0.5s ease-in-out;
    background: #f9fafb;
    width: 100%;
    border-radius: 5px;
    padding: 10px;

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
    }
      input {
          background-color: transparent;
      }

      input:hover {
          background-color: #e0e0e0;
      }

    form ul li {
      opacity: 0;
      list-style: none;
      &:nth-child(1) {
        transform-origin: bottom;
        animation: itop 300ms 300ms linear forwards;
      }
      &:nth-child(2) {
        transform-origin: bottom;
        animation: itop 300ms 400ms linear forwards;
      }
      &:nth-child(3) {
        transform-origin: bottom;
        animation: itop 300ms 500ms linear forwards;
      }
        &:nth-child(4) {
            transform-origin: bottom;
            animation: itop 300ms 600ms linear forwards;
        }
        &:nth-child(5) {
            transform-origin: bottom;
            animation: itop 300ms 700ms linear forwards;
            background-color: transparent;
        }
    }
    li {
        flex: 1;
      text-decoration: none;
      color: #4f4f4f;
      width: fit-content;
      padding: 10px;
      height: 52px;
      display: flex;
      align-items: center;
      justify-content: center;
        border-radius: 0.5rem;
      margin: 0 10px 0 0;

      &:hover {
        background: #e0e0e0;
      }
    }
  }

  #toggle:checked ~ label .nav {
    display: none;
    opacity: 0;
    transform: translateX(0);
  }

  #toggle:checked ~ .button {
    width: 70px;
    transition: all 0.1s linear;
  }

  @media (max-width: 640px) {
    .container {
      width: 100%;
    }
  }

  @keyframes itop {
    0% {
      opacity: 0;
      transform: translateY(60px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  #toggle {
    -webkit-appearance: none;
  }
